.activeFolderContainer {
  background-color: var(--sec-bg-color);
  width: 100%;
  height: 110px;
  display: flex;
  max-height: 110px;
  flex-direction: row;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  padding: 20px;
  /*opacity: 0.9;*/
}

.activeFolderContainer:hover {
  background-color: #fff6f5;
  border: 1px solid #cd8981;
  box-shadow: 0 4px 8px rgba(210, 52, 36, 0.22);
}

.activeFolderContainer:hover .folderIconContainer {
  background: radial-gradient(
      circle at 0%,
      rgba(255, 150, 169, 0.7) 0%,
      var(--main-orange-color) 100%
    ),
    var(--main-orange-color);
  border: 2px solid #a0231b;
}

.activeFolderContainer:hover .folderIconContainer svg path {
  fill: #fff;
}

.activeFolderContainer .folderIconContainer {
  background-color: #f5f6f8;
  border: 1px solid var(--grey-lightbuttons-border-color);
  height: 70px;
  width: 70px;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
}

.activeFolderContainer .folderIcon {
  width: 36px;
}

.activeFolderContainer .colMainDatasContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  height: 100%;
}

.activeFolderContainer .secTextColor,
.activeFolderContainer .colMainDatasContainer a {
  color: var(--sec-text-color);
}

.activeFolderContainer .colMainDatasContainer a {
  text-decoration: underline;
}

.activeFolderContainer .colMainDatasContainer .heading {
  font-size: 18px;
  font-weight: 700;
  transform: translateY(-6px);
}

.activeFolderContainer .colMainDatasContainer .TYminus3 {
  transform: translateY(-3px);
}

.activeFolderContainer .separator {
  background-color: #e6e6e6;
  width: 1px;
  height: 100%;
  margin: 0 40px;
}

.activeFolderContainer .colStatsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.activeFolderContainer .colStatsContainer .heading {
  font-size: 16px;
  font-weight: 600;
  transform: translateY(-4px);
}

.activeFolderContainer .separator.mgLeftAuto {
  margin-left: auto;
}

.smallCommonButton {
  height: 48px;
  width: 48px;
  background-color: #f5f6f8;
  border: 1px solid var(--grey-lightbuttons-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-top: auto;
  margin-bottom: auto;
}

.smallCommonButton img {
  height: 22px;
  width: 22px;
}

.smallCommonButton:hover {
  background: radial-gradient(
      circle at 0%,
      rgba(255, 150, 169, 0.7) 0%,
      var(--main-orange-color) 100%
    ),
    var(--main-orange-color);
  border: 2px solid #a0231b;
  cursor: pointer;
}

.smallCommonButton:hover svg path {
  fill: #fff;
}
