.barContainer {
  height: 15px;
  width: 250px;
  background-color: #f1f2f2;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.barContainer .greenBar {
  width: 70%;
  height: 100%;
  background-color: #30dfab;
}
