.activeFolderContainer {
  background-color: var(--sec-bg-color);
  width: 100%;
  height: 110px;
  display: flex;
  max-height: 110px;
  flex-direction: row;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  padding: 20px;
}

.activeFolderContainer .folderIconContainer {
  background-color: #f5f6f8;
  border: 1px solid #c6c8ca;
  height: 70px;
  width: 70px;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
}

.activeFolderContainer .folderIcon {
  width: 36px;
}

.activeFolderContainer .colMainDatasContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  height: 100%;
}

.activeFolderContainer .colMainDatasContainer .secTextColor,
.activeFolderContainer .colMainDatasContainer a {
  color: var(--sec-text-color);
}

.activeFolderContainer .colMainDatasContainer a {
  text-decoration: underline;
}

.activeFolderContainer .colMainDatasContainer .heading {
  font-size: 18px;
  font-weight: 700;
  transform: translateY(-6px);
}

.activeFolderContainer .colMainDatasContainer .TYminus3 {
  transform: translateY(-3px);
}
