nav {
  display: flex;
  flex-direction: column;
  width: 320px;
  border-right: 1px solid var(--main-border-color);
  height: 100%;
  background-color: var(--sec-bg-color);
  min-height: 100%;
  justify-content: left;
  padding: 24px 20px 0 20px;
  flex-shrink: 0;
}

nav.shadow {
  box-shadow: 2px 0px 4px rgba(163, 163, 163, 0.2),
    4px 0px 8px rgba(202, 202, 202, 0.2);
  border-color: #fff;
}

ul {
  display: flex;
  flex-direction: column;
}

nav .menuSeparators {
  background-color: var(--main-border-color);
  height: 1px;
  width: 100%;
}

.menuSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 31px;
}

.menuSectionContainer.topMg {
  margin-top: 23px;
}

.menuSectionContainer .title {
  margin-left: 22px;
  color: #959eaa;
}

.menuItemsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menuItemsContainer .menuItem {
  height: 47px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  /*font-family: "Manrope", sans-serif;*/
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  border-radius: 6px;
}

.menuItemsContainer .menuItem .decorator {
  height: 23px;
  width: 5px;
  border-radius: 0 5px 5px 0;
  background-color: var(--sec-bg-color);
}

.menuItemsContainer .menuItem .decorator.active {
  background-color: var(--main-orange-color);
}

.menuItemsContainer .menuItem img {
  margin-left: 17px;
  margin-right: 17px;
  /* temporary */
  width: 21px;
  height: 18px;
}

.menuItemsContainer .menuItem svg {
  margin-left: 17px;
  margin-right: 17px;
  /* temporary */
  width: 21px;
  height: 18px;
}

.menuItemsContainer .menuItem.active {
  background-color: var(--selected-bg-color);
  color: var(--main-orange-color);
}

.menuItemsContainer .menuItem:hover {
  /*background-color: var(--selected-bg-color);
  color: var(--main-orange-color);*/
  background: /*rgba(255, 255, 255, 0.1),*/ radial-gradient(
      circle at 65%,
      rgba(255, 150, 169, 0.6) 0%,
      var(--main-orange-color) 50%
    ),
    var(--main-orange-color);
  color: #fff;
  cursor: pointer;
}

.menuItemsContainer .menuItem:hover .decorator {
  background-color: var(--main-orange-color);
}

/*.menuItemsContainer .menuItem:hover .decorator {
  background: #fff;
}*/

.menuItemsContainer .menuItem:hover svg path {
  fill: #fff;
}
