article.userCard {
  display: flex;
  flex-direction: row;
  flex: 1 1 33.33%;
  min-height: 220px;
  background-color: var(--sec-bg-color);
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  padding: 20px;
  justify-content: space-between;
  transition: all 0.5s ease-out;
}

article.userCard.shadow {
  box-shadow: 0 4px 8px rgba(163, 163, 163, 0.3),
    0 16px 32px rgba(202, 202, 202, 0.3);
  border-color: #fff;
}

article.userCard h2 {
  font-size: 18px;
}

article.userCard:hover {
  background-color: #fff6f5;
  border: 1px solid #cd8981;
  box-shadow: 0 4px 8px rgba(210, 52, 36, 0.22),
    0 8px 16px rgb(208, 45, 28, 0.08);
  cursor: pointer;
}

article.userCard .leftSide {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

article.userCard .leftSide .tagSuperHero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 32px;
  background-color: var(--secondary-orange-color);
  border: 1px solid #a0231b;
  border-radius: 16px;
  color: #fff;
  margin-top: auto;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

article.userCard .leftSide .tagHero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 32px;
  border: 1px solid var(--secondary-orange-color);
  border-radius: 16px;
  color: var(--secondary-orange-color);
  margin-top: auto;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #fff;
}

article.userCard .leftSide .fs14 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  color: #4e515c;
}

article.userCard .rightSide {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

article.userCard .rightSide .buttonsContainer {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
