*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

:root {
  --main-bg-color: #f1f2f2;
  --sec-bg-color: #ffffff;
  --selected-bg-color: #fff2f1;
  --main-border-color: #cbcbcb;
  --sec-border-color: #c3c4c4;
  --main-orange-color: #d02d1c;
  --secondary-orange-color: #e0514c;
  --main-text-color: #020611;
  --sec-text-color: #60626c;
  --grey-lightbuttons-border-color: #c6c8ca;
  --main-bg-inputtext-color: #f3f3f3;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--main-bg-color);
  color-scheme: light dark;
  color: #020611;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jost-500 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.manrope-extraBold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.manrope-semiBold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-bg-color);
}

h1 {
  font-size: 28px;
  color: var(--main-text-color);
  width: fit-content;
}

.mainButton {
  background: radial-gradient(
      circle at 65%,
      rgba(255, 150, 169, 0.35) 0%,
      var(--main-orange-color) 50%
    ),
    var(--main-orange-color);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
}

.mainButton:hover {
  background: /*rgba(255, 255, 255, 0.1),*/ radial-gradient(
      circle at 65%,
      rgba(255, 150, 169, 0.6) 0%,
      var(--main-orange-color) 50%
    ),
    var(--main-orange-color);
}

.secondaryButton {
  border: 1px solid var(--secondary-orange-color);
  color: rgba(224, 81, 76, 0.9);
  border-radius: 6px;
  box-shadow: 0 8px 16px rgba(208, 45, 28, 0.1);
  background-color: var(--sec-bg-color);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
}
